<div class="main-cust-setting-div">
    <div class="decorate-div">
        <b>{{"Project-Settings-note-for-enter-key" | translate}} </b>
    </div>
    <div class="decorate-div">
        <mat-slide-toggle color="primary" [(ngModel)]="Pending_items"
            (ngModelChange)="modelChangeSwitch($event,'Pending_items')">
            {{'ALERT_SEND_REMINDER' | translate}}
        </mat-slide-toggle>
        <mat-form-field appearance="outline" class="ml-2">
            <!--  (ngModelChange)="modelChangeDropdown($event,'Pending_items',true)" -->
            <mat-select class="dark-cust-color" [(ngModel)]="Pending_items_value">
                <mat-option *ngFor="let data of pendingdata" [value]="data.key">
                    {{data.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="decorate-div">
        <mat-slide-toggle color="primary" [(ngModel)]="Invoice_Not_Assigned"
            (ngModelChange)="modelChangeSwitch($event,'Invoice_Not_Assigned')">
            {{'INVOICE_NOT_ASSINED_SETTING' | translate}}
        </mat-slide-toggle>
        <mat-form-field appearance="outline" class="ml-2">
            <!--  (ngModelChange)="modelChangeDropdown($event,'Pending_items',true)" -->
            <mat-select class="dark-cust-color" [(ngModel)]="Invoice_Not_Assigned_value">
                <mat-option *ngFor="let data of pendingdata" [value]="data.key">
                    {{data.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="decorate-div">
        <mat-slide-toggle color="primary" [(ngModel)]="Invoice_due_date"
            (ngModelChange)="modelChangeSwitch($event,'Invoice_due_date')">
            {{'SEND_ALERT_EVERY' | translate}}
        </mat-slide-toggle>
        <mat-form-field appearance="outline" class="ml-2">
            <!-- (ngModelChange)="modelChangeDropdown($event,'Invoice_due_date',true)" -->
            <mat-select class="dark-cust-color" [(ngModel)]="Invoice_due_time_value">
                <mat-option *ngFor="let time of duetime" [value]="time.key">
                    {{time.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        {{'WHEN_INVOICE_DUE' | translate}}
        <mat-form-field appearance="outline" class="ml-2">
            <!-- (ngModelChange)="modelChangeDropdown($event,'Invoice_due_date',false)" -->
            <mat-select class="dark-cust-color" [(ngModel)]="Invoice_due_day_value">
                <mat-option *ngFor="let date of duedate" [value]="date.key">
                    {{date.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="decorate-div">
        <mat-slide-toggle color="primary" [(ngModel)]="Invoice_arrive"
            (ngModelChange)="modelChangeSwitch($event,'Invoice_arrive')">
            {{'WHEN_NEW_INVOICES' | translate}}
        </mat-slide-toggle>
        <mat-form-field appearance="outline" class="ml-2">
            <!-- (ngModelChange)="modelChangeDropdown($event,'Invoice_arrive',true)" -->
            <mat-select class="dark-cust-color" [(ngModel)]="Invoice_arrive_value" multiple>
                <mat-option *ngFor="let role of allRoles" [value]="role.role_id">
                    {{role.role_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        {{'BASED_ON_ROLE' | translate}}
    </div>

    <div class="decorate-div">
        <mat-slide-toggle color="primary" [(ngModel)]="Invoice_modified"
            (ngModelChange)="modelChangeSwitch($event,'Invoice_modified')">
            {{'INVOICE_MODIFIED' | translate}}
        </mat-slide-toggle>
        <mat-form-field appearance="outline" class="ml-2">
            <!-- (ngModelChange)="modelChangeDropdown($event,'Invoice_modified',true)"  -->
            <mat-select class="dark-cust-color" [(ngModel)]="Invoice_modified_value" multiple>
                <mat-option *ngFor="let role of allRoles" [value]="role.role_id">
                    {{role.role_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        {{'BASED_ON_ROLE' | translate}}
    </div>

    <div class="decorate-div">
        <mat-slide-toggle color="primary" [(ngModel)]="Invoice_sent_to_batch"
            (ngModelChange)="modelChangeSwitch($event,'Invoice_sent_to_batch')">
            {{'SEND_ALERT_TO' | translate}}
        </mat-slide-toggle>
        <mat-form-field appearance="outline" class="ml-2">
            <!-- (ngModelChange)="modelChangeDropdown($event,'Invoice_sent_to_batch',true)" -->
            <mat-select class="dark-cust-color" [(ngModel)]="Invoice_sent_to_batch_value" multiple>
                <mat-option *ngFor="let user of allUser" [value]="user._id">
                    {{user.userfullname}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        {{'INVOICE_SENT' | translate}}
    </div>

    <div class="decorate-div">
        <mat-slide-toggle color="primary" [(ngModel)]="daily_productivity_report"
            (ngModelChange)="modelChangeSwitch($event,'daily_productivity_report')">
            {{'DAILY_PRODUCTIVITY' | translate}}
        </mat-slide-toggle>
        <mat-form-field appearance="outline" class="ml-2">
            <!-- (ngModelChange)="modelChangeDropdown($event,'daily_productivity_report',true)" -->
            <mat-select #drop [(ngModel)]="daily_productivity_report_value" class="dark-cust-color" multiple>
                <mat-option *ngFor="let user of allUser" [value]="user._id">
                    {{user.userfullname}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="decorate-div">
        <mat-slide-toggle color="primary" [(ngModel)]="Invoice_Greater_Than_Amount_Approve"
            (ngModelChange)="modelChangeSwitch($event,'Invoice_Greater_Than_Amount_Approve')">
            {{'Invoice_Greater_Than_Amount_Approve_Setting_Text_1' | translate}}
        </mat-slide-toggle>
        <mat-form-field appearance="outline" class="ml-2">
            <input (keypress)="numberOnly($event)" class="input" matInput placeholder="{{'' | translate }}"
                [(ngModel)]="Invoice_Greater_Than_Amount_Approve_amount_value"
                (keyup.enter)="modelChangeLocationText($event.target.value,'Invoice_Greater_Than_Amount_Approve')" />
        </mat-form-field>
        <span> {{'Invoice_Greater_Than_Amount_Approve_Setting_Text_2' | translate}}</span>
        <mat-form-field appearance="outline" class="ml-2">
            <!-- (ngModelChange)="modelChangeDropdown($event,'Invoice_Greater_Than_Amount_Approve',true)" -->
            <mat-select #drop [(ngModel)]="Invoice_Greater_Than_Amount_Approve_value" class="dark-cust-color" multiple>
                <mat-option *ngFor="let user of allUser" [value]="user._id">
                    {{user.userfullname}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span> {{'Invoice_Greater_Than_Amount_Approve_Setting_Text_3' | translate}}</span>
    </div>
    <div class="decorate-div">
        <mat-slide-toggle color="primary" [(ngModel)]="User_Notify_By"
            (ngModelChange)="modelChangeSwitch($event,'User_Notify_By')">
            {{'User_Notify_By_Setting' | translate}}
        </mat-slide-toggle>
        <mat-form-field appearance="outline" class="ml-2">
            <mat-select #drop [(ngModel)]="User_Notify_By_value" class="dark-cust-color" multiple>
                <mat-option *ngFor="let notify of notifyList" [value]="notify.key">
                    {{notify.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="cust-center-justify">
        <button mat-raised-button (click)="saveSettings()" color="primary">
            <img src="{{saveIcon}}" alt="" height="20px">
            {{'All-save' |
            translate}}</button>
    </div>
</div>