
.main-cust-setting-div {
    width: 100%;
    padding: 20px;
}

.decorate-div {
    margin: auto;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    padding: 0px !important;
}