<section class="content">
    <div class="content-block">
        <div class="m-4"></div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="materialTableHeader">
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <li class="tbl-title">
                                    <h2>{{'SETTINGS.SMTP.SMTP_TITLE' | translate}}</h2>
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="tbl-export-btn">
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="{{'COMMON.TOOL_TIP.BACK' |
                                          translate}}">
                                        <button mat-mini-fab color="warn" (click)="back()">
                                            <mat-icon class="col-white">close </mat-icon>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="body">
                        <form class="register-form m-4" [formGroup]="companyinfoForm">
                            <div class="row mt-2">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>{{'SETTINGS.SMTP.SMTP_SERVER' | translate}}</mat-label>
                                        <input matInput formControlName="tenant_smtp_server"
                                            class="input-capitalized-textfield"
                                            placeholder="{{'SETTINGS.SMTP.SMTP_SERVER' | translate}}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>{{'SETTINGS.SMTP.SMTP_USERNAME' | translate}}</mat-label>
                                        <input matInput formControlName="tenant_smtp_username"
                                            class="input-capitalized-textfield"
                                            placeholder="{{'SETTINGS.SMTP.SMTP_USERNAME' | translate}}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>{{'SETTINGS.SMTP.SMTP_PORT' | translate}}</mat-label>
                                        <input matInput
                                            onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null"
                                            formControlName="tenant_smtp_port" class="input-capitalized-textfield"
                                            placeholder="{{'SETTINGS.SMTP.SMTP_PORT' | translate}}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>{{'SETTINGS.SMTP.SMTP_SERVER_TIMEOUT' | translate}}</mat-label>
                                        <input matInput
                                            onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null"
                                            formControlName="tenant_smtp_timeout" class="input-capitalized-textfield"
                                            placeholder="{{'SETTINGS.SMTP.SMTP_SERVER_TIMEOUT' | translate}}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>{{'SETTINGS.SMTP.SMTP_PASSWORD' | translate}}</mat-label>
                                        <input type="password" matInput formControlName="tenant_smtp_password"
                                            class="input-capitalized-textfield"
                                            placeholder="{{'SETTINGS.SMTP.SMTP_PASSWORD' | translate}}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>{{'SETTINGS.SMTP.SMTP_TLS' | translate}}
                                        </mat-label>
                                        <mat-select formControlName="tenant_smtp_security" class="dark-cust-color"
                                            required>
                                            <mat-option *ngFor="let lts of LTS_ACTIVE" [value]="lts.value">
                                                {{lts.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>{{'SETTINGS.SMTP.SMTP_AUTO_EMAIL' | translate}}</mat-label>
                                        <input matInput formControlName="tenant_smtp_reply_to_mail"
                                            class="input-capitalized-textfield"
                                            placeholder="{{'SETTINGS.SMTP.SMTP_AUTO_EMAIL' | translate}}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button type="button" class="btn-space" mat-raised-button color="warn"
                                        (click)="verifySMTP()">Verify</button>
                                    <button mat-raised-button color="primary" [disabled]="!companyinfoForm.valid"
                                        (click)="saveSMTP()">{{'COMMON.ACTIONS.SAVE'|
                                        translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>