.invoice-data {
    width: 100%;

    border-radius: 10px;
    background-color: white;

    .title {
        font-weight: 700;
    }
}

.invoice-card {
    color: white;
    background-color: #023E8A;
    height: 40px;
    margin-right: unset;
    margin-left: unset;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

}

.invoice-card-dark {

    background-color: #30343d !important;
    color: white !important;


}

.button_dark {
    background-color: #30343d !important;
}

.button_light {
    background-color: #023e8af7;
}

.invoice-viwe {
    height: 90%;

    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

}

.pdf-viewer {
    height: 630px;
    overflow-y: scroll;
}

.pdf-header {
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    text-align: right
}

.History-text {
    text-align: center;
    padding: 8px;

}



.notes {
    color: white;
    background-color: #023E8A;
    height: 40px;

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.history-viwe {
    height: 92%;

    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.mat-expansion-panel {
    border-radius: 5px;
}

::ng-deep .mat-expansion-panel-header {

    height: 35px !important;
    background-color: #023E8A !important;
    color: white;

}

::ng-deep .darkMode .mat-expansion-panel-header {

    height: 35px !important;
    background-color: #30343d !important;
    color: white;

}

::ng-deep .mat-expansion-indicator::after {
    color: white;
    height: 11px;
    width: 11px;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
}

// history
.header-text-cust-chart {
    max-height: 760px;
    border-radius: 6px;
    padding: 1em 1em;
    font-size: 1.2em !important;
    font-weight: 500 !important;
    overflow: auto;
}

.header-text-cust-chart-dark {

    background-color: #30343d;
    color: white !important;

    max-height: 760px;
    border-radius: 6px;

    padding: 1em 1em;
    font-size: 1.2em !important;
    font-weight: 500 !important;
    overflow: auto;
}

.text-cust-notes-dark {
    background-color: #30343d;
    color: white !important;
}



.card-history {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-right: 10px;
    margin-top: 5px;
    background-color: white;

}

.card-history-dark {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-right: 10px;
    margin-top: 5px;
    background-color: #424242;

}

/* On mouse-over, add a deeper shadow */
.card-history:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-history-dark:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 0.3rem 0.3rem;
    // height: 90px;

}

.container {
    padding: 2px 16px;

}

.crl {
    border-radius: 100%;
    background-color: rgb(250, 250, 250);
    height: 35px;
    width: 35px;
    margin-top: 6px;
    margin-left: 6px;
}

.Approvedcss {
    color: #0fb900;
}

.Rejectcss {
    color: red;
}

.pendingcss {
    color: hsl(19, 94%, 55%)
}

hr.solid {
    border-top: 3px solid #bbb;
}


.mat-form-field {

    width: 95%;
}

.example-full-width {
    width: 100%;
}

.note-card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    // margin-bottom: 10px;
    color: black;
    border-radius: 10px;
    // margin-left: 30px;
    // margin-top: 5px;
    // justify-content: center;
    padding: 10px;

    .details {
        width: 100%;

        .user-info {
            font-weight: 500;
            font-size: 11.5px;
            margin-bottom: 2px;
        }

        .note {
            color: black;
            font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
        }

        .dark-note {
            color: white;
        }
    }
}


//  ATTCHMENT CSS
@import 'src/app/styles/colors';

.container-cust {
    width: 30%;
    height: 50px;
    padding: 1rem;
    background-color: $blue;
    text-align: center;
    border: solid 0px #979797;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;

    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    label {
        color: white;
        // width: 100px;
        height: 25px;
        border-radius: 21.5px;
        //background-color: $blue;
        text-align: center;

    }

    h3 {
        font-size: 14px;
        font-weight: 500;
        color: #38424c;
        margin-bottom: 0px;
    }
}

.fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.main-one-input-field {
    width: 100%;
}

.cust-map {
    height: 100%;
    width: 100%;
}

.geocoder-container {
    margin-bottom: 11px;
}

.cust-margin {
    margin: auto 0;
}

.center-cust {
    text-align: center;
}

.fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.files-list-attachments {

    .single-file {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none 1px #979797;
        flex-direction: column;

        .file-icon {
            width: 100px;
            height: 100px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .select-file-icon {
            width: 100px;
            height: 100px;
            border-style: solid;
            border-width: 2px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .delete {
            background: #00000098;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .name {
            font-size: 14px;
            font-weight: 500;
            color: #353f4a;
            margin: 0;
        }

        .size {
            font-size: 12px;
            font-weight: 500;
            color: #a4a4a4;
            margin: 0;
            margin-bottom: 0.25rem;
        }

        .info {
            width: 100%
        }
    }

}

/* Shake animation */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.display-cust {
    display: inline-flex;
}

// .cust-center-justify{
//   justify-content: center;
// }


.fileInputProfileWrap {
    width: 100%;
    height: auto;
}

.fileInputProfile {
    position: absolute;
    /*  height: 100%;
  width: 100%; */
    z-index: 99;
    opacity: 0;
}

.fileInputProfile[disabled]+.img-space {
    pointer-events: none;
    cursor: not-allowed !important;
}

.vl {
    border-left: ridge;
    border-width: 2px;
    height: 100%;
}

.card-text-centre {
    font-size: 1.1em !important;
    font-weight: 500;
    padding: 0.5em;
    text-align: center;
}

.card-text {
    font-size: 1.1em !important;
    padding-top: 0.5em;
    text-align: center;
}

.file-info-div {
    margin-top: 15px;
}

.img-width {
    width: 300px;
    height: 300px;
    display: initial;
    object-fit: cover;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.image-list-padding {
    margin: 1em;
}

.image-align {
    text-align: center;
}

.file-info-text-display {
    display: flex;
}

.search-results {
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.modal-body {
    min-height: 75%;
}

.tab-h {
    ::ng-deep .mat-tab-label {
        height: 35px !important;

    }
}

.full-width {
    width: 100%;
}

.custom-bg {
    height: 37px;
    text-align: center;
    background-color: #023E8A !important;
    border-left: grey 0.5px solid;
    border-right: grey 0.5px solid;
    padding-top: 6px;
    color: white;
}



.border {
    border-radius: 0px 6px 6px 0px;
}

.border-1 {
    border-radius: 6px 0px 0px 6px;
}

.selected {
    height: 37px;
    text-align: center;
    background-color: green !important;
    border-left: grey 0.5px solid;
    border-right: grey 0.5px solid;
    padding-top: 7px;
    color: white;
}

::ng-deep .rrr {
    .mat-list-base {
        padding-top: 0px !important;
        display: block;
        -webkit-tap-highlight-color: transparent;
    }
}

::ng-deep .s2-confirm {
    width: 130px !important;
}

::ng-deep .btn-gray {
    background-color: grey !important;
    color: white !important;
}