<div class="auth-container">

  <div class="row auth-main" style="background-image: url(assets/images/full_bg.jpg);">
    <div class="col-sm-4 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper" *ngIf="showForm">

          <form class="validate-form" [formGroup]="authForm">

            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <h2 class="welcome-msg cust-center"> Reset Password </h2>
                <span class=" welcome-msg error-subheader2 p-t-20 p-b-15">
                  Enter your registered email address for reset password.
                </span>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="useremail" required>
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn mt-5">
              <button mat-raised-button color color="primary" class="auth-form-btn" (click)="forgotPasswordPress()">
                Send
              </button>
            </div>
            <div class="w-full p-t-25 text-center">
              <div>
                Already a User?
                <a (click)="openLogin()" class="txt1">
                  Login
                </a>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="!showForm">
          <h2 class="welcome-msg cust-center"> Select Company </h2>
          <div class="cust-center mb-2">
            <mat-chip [removable]=" removable" (removed)="removeUseremail()">
              {{useremail}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-12 mt-3">
            <div class="card">
              <div class="card-body">
                <div class="media-list position-relative">
                  <div class="table-responsive" id="project-team-scroll">
                    <table class="table table-hover table-xl mb-0">
                      <tbody>
                        <tr *ngFor="let company of companyList" (click)="selectCompany(company)">
                          <td class="text-truncate d-flex companydata">
                            <img class="rounded-circle" src="{{company.companylogo}}" alt="" title="">
                            <div class="my-auto">{{company.companyname}}</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 px-0 d-none d-sm-block">
      <div class="left-img">
      </div>
    </div>

  </div>
</div>