<section class="content">
    <div class="content-block">
        <div class="m-4"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="materialTableHeader">
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <li class="tbl-title">
                                    <h2>Duplicate Documents</h2>
                                </li>
                                <li class="tbl-search-box">
                                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                    <input placeholder="Search" type="text" #filter class="browser-default search-field"
                                        aria-label="Search box">
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="tbl-export-btn">
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="{{'COMMON.TOOL_TIP.BACK' | translate}}">
                                        <button mat-mini-fab color="warn" (click)="back()">
                                            <mat-icon class="col-white">close </mat-icon>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="body overflow-auto">
                        <div class="table-responsive">
                            <table mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                                <ng-container matColumnDef="document_type">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Document Type
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" (click)="editDocument(row)"
                                        (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">Document Type:</span>{{row.document_type}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="vendor_name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Vendor
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" (click)="editDocument(row)"
                                        [matTooltip]="getVendorNameTooltip(row)"
                                        (contextmenu)="onContextMenu($event, row)">
                                        <span class="truncate-text"
                                            class="mobile-label">Vendor:</span>{{row.vendor_data.vendor_name}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="invoice_no">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Number</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (click)="editDocument(row)"
                                        (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">Invoice Number:</span>
                                        {{row.invoice_no}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (click)="editDocument(row)"
                                        (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">Status:</span>
                                        {{row.status}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="po_no">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>PO Number</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (click)="editDocument(row)"
                                        (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">PO Number:</span>
                                        {{row.po_no}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="created_by">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Created By</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (click)="editDocument(row)"
                                        (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">Created By:</span>
                                        {{row.created_by.userfullname}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell class="pr-0" *matHeaderCellDef
                                        [ngClass]="'tbl-col-width-per-action'">Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0 tbl-col-width-per-action">
                                        <button mat-icon-button color="accent" (click)="$event.stopPropagation()"
                                            (click)="editDocument(row)" class="tbl-action-btn">
                                            <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'">
                                            </app-feather-icons>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'"
                                    matRipple>
                                </mat-row>
                            </table>
                        </div>
                        <!-- Loading spinner -->
                        <div *ngIf="duplicateDocumentService?.isDuplicateDocumentTblLoading" class="tbl-spinner">
                            <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                            </mat-progress-spinner>
                        </div>
                        <div *ngIf="!duplicateDocumentService?.isDuplicateDocumentTblLoading" class="no-results"
                            [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'">
                            {{'COMMON.LISTING.EMPTY' | translate}}
                        </div>
                        <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0"
                            [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>