<section class="content">
    <div class="content-block">
        <div class="m-4"></div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="materialTableHeader">
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <li class="tbl-title">
                                    <h2>{{'DOCUMENTS.VIEW.TITLE' |translate}}</h2>
                                </li>
                                <li class="tbl-search-box">
                                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                    <input placeholder="{{'COMMON.TOOL_TIP.SEARCH' | translate}}" type="text" #filter
                                        class="browser-default search-field" aria-label="Search box">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="body overflow-auto">
                        <div class="main-cust-setting-div">
                            <mat-tab-group [selectedIndex]="step_index" (selectedTabChange)="onTabChanged($event)"
                                [(selectedIndex)]="step_index">
                                <mat-tab label="P.O.">
                                    <div class="body overflow-auto">
                                        <div class="table-responsive">
                                            <table mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                                                <ng-container matColumnDef="document_type">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.DOCUMENT_TYPE' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="mobile-label">Document Type:</span>
                                                        {{setDocumentType(row.document_type)}}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="po_no">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.PO_NO' |translate}}</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="mobile-label">PO NO:</span> {{row.po_no }}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="invoice_no">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.INVOICE_NO' |translate}}</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="mobile-label">Invoice No:</span> {{row.invoice_no}}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="vendor_name">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.VENDOR_NAME' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="truncate-text"><span class="mobile-label">Vendor
                                                                Name:</span> {{row.vendor_data?.vendor_name}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="updated_by">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.UPDATED_BY' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="truncate-text"><span
                                                                class="mobile-label">updated_by:</span>
                                                            {{row.updated_by.userfullname}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="updated_at">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.UPDATED_AT' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="truncate-text"><span
                                                                class="mobile-label">updated_at:</span>
                                                            {{(row.updated_at * 1000) | date: 'MM/dd/yyyy'}}</span>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="actions">
                                                    <mat-header-cell class="pr-0" *matHeaderCellDef
                                                        [ngClass]="'tbl-col-width-per-action'">Actions</mat-header-cell>
                                                    <mat-cell *matCellDef="let row; let i=index;"
                                                        class="pr-0 tbl-col-width-per-action">
                                                        <button mat-icon-button color="accent"
                                                            (click)="$event.stopPropagation()"
                                                            (click)="openEditDocument(row)" class="tbl-action-btn">
                                                            <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'">
                                                            </app-feather-icons>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;"
                                                    [style.cursor]="'pointer'" matRipple>
                                                </mat-row>
                                            </table>
                                        </div>
                                        <!-- Loading spinner -->
                                        <div *ngIf="documentsServices?.isTblLoading" class="tbl-spinner">
                                            <app-loading></app-loading>
                                        </div>
                                        <div *ngIf="!documentsServices?.isTblLoading" class="no-results"
                                            [style.display]="documentList.length === 0 ? '' : 'none'">
                                            {{'COMMON.LISTING.EMPTY' | translate}}
                                        </div>
                                        <mat-paginator #paginator [length]="pager!.total"
                                            [pageIndex]="tableRequest.pageIndex" [pageSize]="tableRequest.pageSize"
                                            [pageSizeOptions]="[5, 10, 25, 100]" (page)="changePage($event)">
                                        </mat-paginator>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Packing Slip">
                                    <div class="body overflow-auto">
                                        <div class="table-responsive">
                                            <table mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                                                <ng-container matColumnDef="document_type">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.DOCUMENT_TYPE' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="mobile-label">Document Type:</span>
                                                        {{setDocumentType(row.document_type)}}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="po_no">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.PO_NO' |translate}}</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="mobile-label">PO NO:</span> {{row.po_no }}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="invoice_no">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.INVOICE_NO' |translate}}</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="mobile-label">Invoice No:</span> {{row.invoice_no}}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="vendor_name">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.VENDOR_NAME' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="truncate-text"><span class="mobile-label">Vendor
                                                                Name:</span> {{row.vendor_data?.vendor_name}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="updated_by">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.UPDATED_BY' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="truncate-text"><span
                                                                class="mobile-label">updated_by:</span>
                                                            {{row.updated_by.userfullname}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="updated_at">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.UPDATED_AT' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="truncate-text"><span
                                                                class="mobile-label">updated_at:</span>
                                                            {{(row.updated_at * 1000) | date: 'MM/dd/yyyy'}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="actions">
                                                    <mat-header-cell class="pr-0" *matHeaderCellDef
                                                        [ngClass]="'tbl-col-width-per-action'">Actions</mat-header-cell>
                                                    <mat-cell *matCellDef="let row; let i=index;"
                                                        class="pr-0 tbl-col-width-per-action">
                                                        <button mat-icon-button color="accent"
                                                            (click)="$event.stopPropagation()"
                                                            (click)="openEditDocument(row)" class="tbl-action-btn">
                                                            <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'">
                                                            </app-feather-icons>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;"
                                                    [style.cursor]="'pointer'" matRipple>
                                                </mat-row>
                                            </table>
                                        </div>
                                        <!-- Loading spinner -->
                                        <div *ngIf="documentsServices?.isTblLoading" class="tbl-spinner">
                                            <app-loading></app-loading>
                                        </div>
                                        <div *ngIf="!documentsServices?.isTblLoading" class="no-results"
                                            [style.display]="documentList.length === 0 ? '' : 'none'">
                                            {{'COMMON.LISTING.EMPTY' | translate}}
                                        </div>
                                        <mat-paginator #paginator [length]="pager!.total"
                                            [pageIndex]="tableRequest.pageIndex" [pageSize]="tableRequest.pageSize"
                                            [pageSizeOptions]="[5, 10, 25, 100]" (page)="changePage($event)">
                                        </mat-paginator>
                                    </div>

                                </mat-tab>
                                <mat-tab label="Receiving Slip">
                                    <div class="body overflow-auto">
                                        <div class="table-responsive">
                                            <table mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                                                <ng-container matColumnDef="document_type">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.DOCUMENT_TYPE' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="mobile-label">Document Type:</span>
                                                        {{setDocumentType(row.document_type)}}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="po_no">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.PO_NO' |translate}}</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="mobile-label">PO NO:</span> {{row.po_no }}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="invoice_no">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.INVOICE_NO' |translate}}</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="mobile-label">Invoice No:</span> {{row.invoice_no}}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="vendor_name">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.VENDOR_NAME' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="truncate-text"><span class="mobile-label">Vendor
                                                                Name:</span> {{row.vendor_data?.vendor_name}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="updated_by">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.UPDATED_BY' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="truncate-text"><span
                                                                class="mobile-label">updated_by:</span>
                                                            {{row.updated_by.userfullname}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="updated_at">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.UPDATED_AT' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="truncate-text"><span
                                                                class="mobile-label">updated_at:</span>
                                                            {{(row.updated_at * 1000) | date: 'MM/dd/yyyy'}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="actions">
                                                    <mat-header-cell class="pr-0" *matHeaderCellDef
                                                        [ngClass]="'tbl-col-width-per-action'">Actions</mat-header-cell>
                                                    <mat-cell *matCellDef="let row; let i=index;"
                                                        class="pr-0 tbl-col-width-per-action">
                                                        <button mat-icon-button color="accent"
                                                            (click)="$event.stopPropagation()"
                                                            (click)="openEditDocument(row)" class="tbl-action-btn">
                                                            <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'">
                                                            </app-feather-icons>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;"
                                                    [style.cursor]="'pointer'" matRipple>
                                                </mat-row>
                                            </table>
                                        </div>
                                        <!-- Loading spinner -->
                                        <div *ngIf="documentsServices?.isTblLoading" class="tbl-spinner">
                                            <app-loading></app-loading>
                                        </div>
                                        <div *ngIf="!documentsServices?.isTblLoading" class="no-results"
                                            [style.display]="documentList.length === 0 ? '' : 'none'">
                                            {{'COMMON.LISTING.EMPTY' | translate}}
                                        </div>
                                        <mat-paginator #paginator [length]="pager!.total"
                                            [pageIndex]="tableRequest.pageIndex" [pageSize]="tableRequest.pageSize"
                                            [pageSizeOptions]="[5, 10, 25, 100]" (page)="changePage($event)">
                                        </mat-paginator>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Quote">
                                    <div class="body overflow-auto">
                                        <div class="table-responsive">
                                            <table mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                                                <ng-container matColumnDef="document_type">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.DOCUMENT_TYPE' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="mobile-label">Document Type:</span>
                                                        {{setDocumentType(row.document_type)}}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="po_no">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.PO_NO' |translate}}</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="mobile-label">PO NO:</span> {{row.po_no }}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="invoice_no">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.INVOICE_NO' |translate}}</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="mobile-label">Invoice No:</span> {{row.invoice_no}}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="vendor_name">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.VENDOR_NAME' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="truncate-text"><span class="mobile-label">Vendor
                                                                Name:</span> {{row.vendor_data?.vendor_name}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="updated_by">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.UPDATED_BY' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="truncate-text"><span
                                                                class="mobile-label">updated_by:</span>
                                                            {{row.updated_by.userfullname}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="updated_at">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.UPDATED_AT' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="truncate-text"><span
                                                                class="mobile-label">updated_at:</span>
                                                            {{(row.updated_at * 1000) | date: 'MM/dd/yyyy'}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="actions">
                                                    <mat-header-cell class="pr-0" *matHeaderCellDef
                                                        [ngClass]="'tbl-col-width-per-action'">Actions</mat-header-cell>
                                                    <mat-cell *matCellDef="let row; let i=index;"
                                                        class="pr-0 tbl-col-width-per-action">
                                                        <button mat-icon-button color="accent"
                                                            (click)="$event.stopPropagation()"
                                                            (click)="openEditDocument(row)" class="tbl-action-btn">
                                                            <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'">
                                                            </app-feather-icons>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;"
                                                    [style.cursor]="'pointer'" matRipple>
                                                </mat-row>
                                            </table>
                                        </div>
                                        <!-- Loading spinner -->
                                        <div *ngIf="documentsServices?.isTblLoading" class="tbl-spinner">
                                            <app-loading></app-loading>
                                        </div>
                                        <div *ngIf="!documentsServices?.isTblLoading" class="no-results"
                                            [style.display]="documentList.length === 0 ? '' : 'none'">
                                            {{'COMMON.LISTING.EMPTY' | translate}}
                                        </div>
                                        <mat-paginator #paginator [length]="pager!.total"
                                            [pageIndex]="tableRequest.pageIndex" [pageSize]="tableRequest.pageSize"
                                            [pageSizeOptions]="[5, 10, 25, 100]" (page)="changePage($event)">
                                        </mat-paginator>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Unknown Documents">
                                    <div class="body overflow-auto">
                                        <div class="table-responsive">
                                            <table mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                                                <ng-container matColumnDef="document_type">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.DOCUMENT_TYPE' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="mobile-label">Document Type:</span>
                                                        {{setDocumentType(row.document_type)}}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="po_no">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.PO_NO' |translate}}</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="mobile-label">PO NO:</span> {{row.po_no }}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="invoice_no">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.INVOICE_NO' |translate}}</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="mobile-label">Invoice No:</span> {{row.invoice_no}}
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="vendor_name">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.VENDOR_NAME' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="truncate-text"><span class="mobile-label">Vendor
                                                                Name:</span> {{row.vendor_data?.vendor_name}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="updated_by">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.UPDATED_BY' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="truncate-text"><span
                                                                class="mobile-label">updated_by:</span>
                                                            {{row.updated_by.userfullname}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="updated_at">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        {{'DOCUMENTS.TABLE.UPDATED_AT' |translate}}
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"
                                                        (contextmenu)="onContextMenu($event, row)">
                                                        <span class="truncate-text"><span
                                                                class="mobile-label">updated_at:</span>
                                                            {{(row.updated_at * 1000) | date: 'MM/dd/yyyy'}}</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="actions">
                                                    <mat-header-cell class="pr-0" *matHeaderCellDef
                                                        [ngClass]="'tbl-col-width-per-action'">Actions</mat-header-cell>
                                                    <mat-cell *matCellDef="let row; let i=index;"
                                                        class="pr-0 tbl-col-width-per-action">
                                                        <button mat-icon-button color="accent"
                                                            (click)="$event.stopPropagation()"
                                                            (click)="openEditDocument(row)" class="tbl-action-btn">
                                                            <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'">
                                                            </app-feather-icons>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;"
                                                    [style.cursor]="'pointer'" matRipple>
                                                </mat-row>
                                            </table>
                                        </div>
                                        <!-- Loading spinner -->
                                        <div *ngIf="documentsServices?.isTblLoading" class="tbl-spinner">
                                            <app-loading></app-loading>
                                        </div>
                                        <div *ngIf="!documentsServices?.isTblLoading" class="no-results"
                                            [style.display]="documentList.length === 0 ? '' : 'none'">
                                            {{'COMMON.LISTING.EMPTY' | translate}}
                                        </div>
                                        <mat-paginator #paginator [length]="pager!.total"
                                            [pageIndex]="tableRequest.pageIndex" [pageSize]="tableRequest.pageSize"
                                            [pageSizeOptions]="[5, 10, 25, 100]" (page)="changePage($event)">
                                        </mat-paginator>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>