.align-div {
    display: flex;
    justify-content: center;
}

.width-set-1 {
    width: 90px;
    margin: 0 auto;
    display: inline-block;
    margin-left: 5px;
}

.width-set-2 {
    width: 90px;
    margin: 0 auto;
    display: inline-block;
}

.mr-set {
    margin: 10px;
}

.btn-width {
    width: 150px;
}

.data-error {
    background-color: #FFE1E1;
}

.data-sucess {
    background-color: #D2FFF2;
}

table {
    width: 93.5%;
}