.Fix-height {
     overflow: scroll;
     overflow-x: hidden;
     height: 460px !important;
     position: relative;
     display: block;
}

.onhold {
     background: #FF9800;
     color: white
}

.note-card {
     background: #e8e8e8;
     border-radius: 10px;
}

.form-button {
     padding-left: 15px !important;
     padding-bottom: 5px !important;

}

.card {
     margin-bottom: 10px !important;

     .body {
          padding: 5px !important;
     }

     .header {
          padding: 3px 15px !important;
     }
}



.but-c {
     background-color: #20C997;
     color: white
}

::ng-deep .mat-expansion-panel-content {

     padding: 5px !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
     height: 40px !important;
}

::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
     top: 32px !important;
}

::ng-deep .mat-mdc-form-field-flex {
     height: 40px !important;
}



::ng-deep .mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
     height: 40px !important;
}

::ng-deep .form-new[_ngcontent-ywe-c269] .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
     height: 40px !important;

}

::ng-deep.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-floating-label {
     transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
     height: 40px !important;
     font-size: 14px !important;
}

::ng-deep .mdc-text-field--outline .mdc-floating-label {
     left: 10px !important;
}

::ng-deep .mat-form-field:not(.mat-form-field-has-label) .mat-form-field-infix {
     border-top-width: 0;
}

::ng-deep .mb-2 {
     margin-bottom: 0.0rem !important;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
     padding-top: 9px !important;

}

::ng-deep .mat-mdc-form-field-infix {
     min-height: unset !important;
}

::ng-deep .mat-mdc-select {
     font-size: 12px !important;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
     font-size: 12px !important;
}

::ng-deep.mdc-menu-surface.mat-mdc-select-panel {
     padding: 0px !important;
}

::ng-deep .dark {
     .mat-filter {
          background-color: black !important;
     }

     .noResultsMessage {
          color: white !important;
     }
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
     height: 13px !important;
}

::ng-deep .mat-mdc-autocomplete-panel-above {
     width: 250px !important;
}

/* .mat-mdc-option.mdc-list-item {
        border-bottom: 1px solid red;
} */
.e-panal {
     ::ng-deep .mat-expansion-panel-body {
          //  h
     }

     ::ng-deep .mat-expansion-panel-body {
          padding: 0 4px 16px !important;
     }

     ::ng-deep.mat-expansion-panel-header.mat-expanded {
          height: 35px !important;
     }
}

.title-h {
     margin-right: 15px;
}

.activity {
     ::ng-deep .mat-mdc-tab.mdc-tab {
          height: 22px;
     }

     .Activity-h {
          height: 10px;
     }
}

// expansion-panel
.mat-expansion-panel-header {
     border-radius: 5px !important;
     margin-bottom: 5px !important;
     height: 33px !important;
     background-color: #3f51b5 !important;
     color: white;
}

.mat-expansion-panel-header-title {
     color: rgba(255, 255, 255, 0.87);
}

::ng-deep .mat-expansion-indicator::after {
     color: rgba(255, 255, 255, 0.87) !important;
}

// expansion-panel
// NOTES
.chat-main {
     height: 250px;

     .chat-p {
          padding-top: 7px;
          padding-left: 10px;
     }

     .chat-msg {
          padding-left: 10px;
     }

     .img-b {
          border-radius: 50%;
     }
}


.document-h {
     height: 285px;

     .document-card {
          height: 25px;
     }

     .document-btn {
          margin-right: 3px;
     }
}

.pdf-btn {
     text-align: end;
     padding-right: 24px;
}

.chat-msg {
     padding-left: 10px;
}

.mdc-fab--mini {
     width: 35px;
     height: 35px;
}

.mat-icon {
     height: 17px;
     width: 17px;
}

.material-icons {
     font-size: 17px;
}

.badge {
     height: 25px;
}

.custom-d-flex {
     display: flex;
}

.img-b {
     border-radius: 50%;
     height: 35px;
     width: 35px;
}

::ng-deep .mdc-menu-surface.mat-mdc-select-panel {
     padding: unset !important;
}

.font-small {
     ::ng-deep .mdc-list-item__primary-text {
          font-size: 12px !important;
     }
}

.form-old {
     ::ng-deep .mat-mdc-text-field-wrapper {
          height: auto !important;
     }

     ::ng-deep .mat-mdc-form-field-flex {
          height: auto !important;
     }

     ::ng-deep .mdc-text-field--outlined .mdc-notched-outline {
          height: 80px !important;
     }

     ::ng-deep .mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
          height: auto !important;
     }

     ::ng-deep .form-new[_ngcontent-ywe-c269] .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
          height: auto !important;
     }

     ::ng-deep.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-floating-label {
          transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
          height: auto !important;
          font-size: 14px !important;
     }

     ::ng-deep textarea {
          resize: none !important;
     }
}

.doc-file-type {
     border: 1px solid #D1D1D1;
     border-radius: 5px;
     padding: 10px;
     cursor: pointer;

     .last-updated {
          margin-bottom: 0px;
     }

     .amount {
          color: #F10007;
     }
}

.doc-file-type .d-flex {
     margin-bottom: 0px !important;
     padding-bottom: 0px !important;
     border-bottom: none !important;
}

.text-right {
     text-align: right;
}

.invoice-info {
     overflow-x: auto;
}

.info-table {

     thead th,
     td {
          border: 1px solid grey;
          padding-left: 5px;
     }

     tbody tr td mat-form-field {
          width: 120px;
     }

     .info-form-field {
          padding: 0.5rem !important;
          margin-top: 0.5rem !important;
     }

     .column-1 {
          width: 160px;
     }

     .column-2 {
          width: 160px;
     }

     .column-3 {
          width: 160px;
     }

     .column-4 {
          width: 160px;
     }

     .column-5 {
          width: 160px;
     }

     .column-6 {
          width: 160px;
     }

     .column-7 {
          width: 160px;
     }
}

.info-header {
     height: 45px;
     padding: 10px;

     .add-icon {
          cursor: pointer;
     }
}

.custom-min-height {
     min-height: 15px;
}

.no-account-info {
     padding: 15px;
}

.pdf-container {
     height: 710px;
     max-height: 710px;
}

.no-pdf {
     font-weight: 500;
     font-size: 17px;
     padding-top: 30%;

     input {
          display: none;
     }
}