::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px !important;
}

::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 32px !important;
}

::ng-deep .mat-mdc-form-field-flex {
    height: 40px !important;
}



::ng-deep .mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
    height: 40px !important;
}

::ng-deep .form-new[_ngcontent-ywe-c269] .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    height: 40px !important;

}

::ng-deep.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-floating-label {
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 40px !important;
    font-size: 14px !important;
}

::ng-deep .mdc-text-field--outline .mdc-floating-label {
    left: 10px !important;
}



::ng-deep .mat-form-field:not(.mat-form-field-has-label) .mat-form-field-infix {
    border-top-width: 0;
}

::ng-deep .mb-2 {
    margin-bottom: 0.0rem !important;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 9px !important;

}

::ng-deep .mat-mdc-form-field-infix {
    min-height: unset !important;
}

::ng-deep .mat-mdc-select {
    font-size: 12px !important;
}


.form-old {
    ::ng-deep .mat-mdc-text-field-wrapper {
        height: auto !important;
    }

    ::ng-deep .mat-mdc-form-field-flex {
        height: auto !important;
    }

    ::ng-deep .mdc-text-field--outlined .mdc-notched-outline {
        height: 80px !important;
    }

    ::ng-deep .mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
        height: auto !important;
    }

    ::ng-deep .form-new[_ngcontent-ywe-c269] .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
        height: auto !important;

    }

    ::ng-deep.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-floating-label {
        transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
        height: auto !important;
        font-size: 14px !important;
    }

    ::ng-deep textarea {
        resize: none !important;
    }
}

.img-b {
    border-radius: 50%;
}

::ng-deep .mdc-menu-surface.mat-mdc-select-panel {
    padding: unset !important;
}

.pdf-btn {
    text-align: end;
    padding-right: 24px;
}

.pdf-container {
    height: 710px;
    max-height: 710px;
}

.no-pdf {
    font-weight: 500;
    font-size: 17px;
    padding-top: 30%;

    input {
        display: none;
    }
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}