<div class="wrapper-cust-admin">
    <div class="container">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab *ngFor="let role of allRoles; let index = index" [label]="role.role_name">
                <div class="row cust-margin-top" *ngIf="role.hasOwnProperty('role_permission')">
                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('dashboard')">
                        <div class="cust-header-text">{{'Rovuk_Invoice_Roles_Dashbord' | translate}}</div>
                        <mat-checkbox class="example-margin" [(ngModel)]="role.role_permission.dashboard.View"
                            color="primary">{{'Dashboard-View' | translate}}</mat-checkbox>
                        <br />
                        <mat-checkbox class="example-margin" [(ngModel)]="role.role_permission.permission_action.View"
                            color="primary">{{'Permission_Action' | translate}} <i style="color: gainsboro;"
                                matTooltip="{{'permisson_tooltip' | translate}}"
                                class="fas fa-info-circle cust-fontsize-tmp"></i></mat-checkbox>
                    </div>
                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('todayActivity')">
                        <div class="cust-header-text">{{'Sidebar-TodaysActivity' | translate}}</div>
                        <mat-checkbox class="example-margin" [(ngModel)]="role.role_permission.todayActivity.View"
                            color="primary">{{'Dashboard-View' | translate}}</mat-checkbox>
                    </div>
                    <!-- VENDORS -->
                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('vendor')">

                        <div class="cust-div-inner">
                            <div class="cust-header-text">{{'Sidebar-Vendors' | translate}}</div>
                            <div class="cust-div-inner">
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'vendor')"
                                        [(ngModel)]="role.role_permission.vendor.Add" color="primary">
                                        {{'Add_roles' | translate}}</mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'vendor')"
                                        [(ngModel)]="role.role_permission.vendor.View" color="primary">
                                        {{'Dashboard-View' | translate}}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'vendor')"
                                        [(ngModel)]="role.role_permission.vendor.Edit" color="primary">
                                        {{'Listing_Action_Edit' | translate }}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'vendor')"
                                        [(ngModel)]="role.role_permission.vendor.Delete" color="primary">
                                        {{'Archived_all' | translate }}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- INVOICES -->
                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('invoice')">
                        <div class="cust-div-inner">
                            <div class="cust-header-text">{{'Rovuk_Invoice_Roles_Invoice' | translate}}</div>
                            <div class="cust-div-inner">
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'invoice')"
                                        [(ngModel)]="role.role_permission.invoice.Add" color="primary">
                                        {{'Add_roles' | translate}}</mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'invoice')"
                                        [(ngModel)]="role.role_permission.invoice.View" color="primary">
                                        {{'Dashboard-View' | translate}}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'invoice')"
                                        [(ngModel)]="role.role_permission.invoice.Edit" color="primary">
                                        {{'Listing_Action_Edit' | translate }}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'invoice')"
                                        [(ngModel)]="role.role_permission.invoice.Delete" color="primary">
                                        {{'Archived_all' | translate }}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- DOCUMENTS -->
                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('documents')">

                        <div class="cust-div-inner">
                            <div class="cust-header-text">{{'iframe_tab_Documents' | translate}}</div>
                            <div class="cust-div-inner">
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'documents')"
                                        [(ngModel)]="role.role_permission.documents.Add" color="primary">
                                        {{'Add_roles' | translate}}</mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'documents')"
                                        [(ngModel)]="role.role_permission.documents.View" color="primary">
                                        {{'Dashboard-View' | translate}}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'documents')"
                                        [(ngModel)]="role.role_permission.documents.Edit" color="primary">
                                        {{'Listing_Action_Edit' | translate }}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'documents')"
                                        [(ngModel)]="role.role_permission.documents.Delete" color="primary">
                                        {{'Archived_all' | translate }}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- REPOETS -->
                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('reports')">

                        <div class="cust-div-inner">
                            <div class="cust-header-text">{{'Rovuk_Invoice_Roles_Report' | translate}}</div>
                            <div class="cust-div-inner">
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'reports')"
                                        [(ngModel)]="role.role_permission.reports.Add" color="primary">
                                        {{'Add_roles' | translate}}</mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'reports')"
                                        [(ngModel)]="role.role_permission.reports.View" color="primary">
                                        {{'Dashboard-View' | translate}}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'reports')"
                                        [(ngModel)]="role.role_permission.reports.Edit" color="primary">
                                        {{'Listing_Action_Edit' | translate }}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'reports')"
                                        [(ngModel)]="role.role_permission.reports.Delete" color="primary">
                                        {{'Archived_all' | translate }}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- USERS -->
                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('users')">
                        <div class="cust-div-inner">
                            <div class="cust-header-text">{{'Rovuk_Invoice_Roles_Users' | translate}}</div>
                            <div class="cust-div-inner">
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'users')"
                                        [(ngModel)]="role.role_permission.users.Add" color="primary">
                                        {{'Rovuk_Grid_Roles_All' | translate}}</mat-checkbox>
                                </div>

                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'users')"
                                        [(ngModel)]="role.role_permission.users.Add" color="primary">
                                        {{'Add_roles' | translate}}</mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'users')"
                                        [(ngModel)]="role.role_permission.users.View" color="primary">
                                        {{'Dashboard-View' | translate}}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'users')"
                                        [(ngModel)]="role.role_permission.users.Edit" color="primary">
                                        {{'Listing_Action_Edit' | translate }}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'users')"
                                        [(ngModel)]="role.role_permission.users.Delete" color="primary">
                                        {{'Archived_all' | translate }}
                                    </mat-checkbox>
                                </div>
                            </div>
                            <!-- [disabled] = "role.role_name == 'Admin'" -->
                            <div class="cust-div-inner">
                                <!-- personalInformation -->
                                <div class="col"
                                    *ngIf="role.role_permission.users.hasOwnProperty('personalInformation')">
                                    <div class="cust-header-text">{{'Employee-form-personal-heading' | translate }}
                                    </div>
                                    <div class="cust-div-inner">
                                        <div>
                                            <mat-checkbox class="example-margin"
                                                [(ngModel)]="role.role_permission.users.personalInformation.View"
                                                color="primary">
                                                {{'Dashboard-View' | translate}}
                                            </mat-checkbox>
                                        </div>
                                        <div>
                                            <mat-checkbox class="example-margin"
                                                [(ngModel)]="role.role_permission.users.personalInformation.Edit"
                                                color="primary">
                                                {{'Listing_Action_Edit' | translate }}
                                            </mat-checkbox>
                                        </div>
                                    </div>

                                </div>
                                <!-- contactInformation -->
                                <div class="col"
                                    *ngIf="role.role_permission.users.hasOwnProperty('contactInformation')">
                                    <div class="cust-header-text">{{'Employee-form-contact-heading' | translate }}</div>
                                    <div class="cust-div-inner">
                                        <div>
                                            <mat-checkbox class="example-margin"
                                                [(ngModel)]="role.role_permission.users.contactInformation.View"
                                                color="primary">
                                                {{'Dashboard-View' | translate}}
                                            </mat-checkbox>
                                        </div>
                                        <div>
                                            <mat-checkbox class="example-margin"
                                                [(ngModel)]="role.role_permission.users.contactInformation.Edit"
                                                color="primary">
                                                {{'Listing_Action_Edit' | translate }}
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <!-- employeeInformation -->
                                <div class="col"
                                    *ngIf="role.role_permission.users.hasOwnProperty('employeeInformation')">
                                    <div class="cust-header-text">{{'Employee-form-Employee-heading' | translate}}</div>
                                    <div class="cust-div-inner">
                                        <div>
                                            <mat-checkbox class="example-margin"
                                                [(ngModel)]="role.role_permission.users.employeeInformation.View"
                                                color="primary">
                                                {{'Dashboard-View' | translate}}
                                            </mat-checkbox>
                                        </div>
                                        <div>
                                            <mat-checkbox class="example-margin"
                                                [(ngModel)]="role.role_permission.users.employeeInformation.Edit"
                                                color="primary">
                                                {{'Listing_Action_Edit' | translate }}
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <!-- emergencyContact -->
                                <div class="col" *ngIf="role.role_permission.users.hasOwnProperty('emergencyContact')">
                                    <div class="cust-header-text">{{'Employee-form-Emergency-contact' |translate }}
                                    </div>
                                    <div class="cust-div-inner">
                                        <div>
                                            <mat-checkbox class="example-margin"
                                                [(ngModel)]="role.role_permission.users.emergencyContact.View"
                                                color="primary">
                                                {{'Dashboard-View' | translate}}
                                            </mat-checkbox>
                                        </div>
                                        <div>
                                            <mat-checkbox class="example-margin"
                                                [(ngModel)]="role.role_permission.users.emergencyContact.Edit"
                                                color="primary">
                                                {{'Listing_Action_Edit' | translate }}
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <!-- employeeDocument -->
                                <div class="col" *ngIf="role.role_permission.users.hasOwnProperty('employeeDocument')">
                                    <div class="cust-header-text">{{'Employee-form-Document' | translate }}
                                    </div>
                                    <div class="cust-div-inner">
                                        <div>
                                            <mat-checkbox class="example-margin"
                                                [(ngModel)]="role.role_permission.users.employeeDocument.View"
                                                color="primary">
                                                {{'Dashboard-View' | translate}}
                                            </mat-checkbox>
                                        </div>
                                        <div>
                                            <mat-checkbox class="example-margin"
                                                [(ngModel)]="role.role_permission.users.employeeDocument.Edit"
                                                color="primary">
                                                {{'Listing_Action_Edit' | translate }}
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- SETTINGS -->
                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('settings')">
                        <div class="cust-div-inner">
                            <div class="cust-header-text">{{'Rovuk_Invoice_Roles_Setting' | translate}}</div>
                            <div class="cust-div-inner">
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'settings')"
                                        [(ngModel)]="role.role_permission.settings.All" color="primary">
                                        {{'Rovuk_Grid_Roles_All' | translate}}</mat-checkbox>
                                </div>
                                <div class="cust-div-inner">
                                    <div>
                                        <mat-checkbox class="example-margin"
                                            (change)="oneAllSettingChange($event,index,'settings')"
                                            [(ngModel)]="role.role_permission.settings.View" color="primary">
                                            {{'Dashboard-View' | translate}}
                                        </mat-checkbox>
                                    </div>
                                    <div>
                                        <mat-checkbox class="example-margin"
                                            (change)="oneAllSettingChange($event,index,'settings')"
                                            [(ngModel)]="role.role_permission.settings.Edit" color="primary">
                                            {{'Listing_Action_Edit' | translate }}
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cust-center-justify">
                    <button mat-raised-button (click)="saveData(role)" color="primary">
                        <img src="{{saveIcon}}" alt="" height="20px">
                        {{'All-save' |translate}}</button>
                </div>

            </mat-tab>
        </mat-tab-group>
    </div>
