/* You can add global styles to this file, and also import other style files */

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
    background: #000;
    opacity: 0.75 !important;
}

.attachment-button {
    width: 35%;
    height: 50px;
    padding: 1rem;
    text-align: center;
    border: solid 0px #979797;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3f51b5;

    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    label {
        color: white;
        // width: 100px;
        height: 25px;
        border-radius: 21.5px;
        //background-color: $blue;
        text-align: center;
        // padding: 3px !important;
    }

    h3 {
        font-size: 14px;
        font-weight: 500;
        color: #38424c;
        margin-bottom: 0px;
    }
}

.swal2-title {
    font-size: 1.275em !important;
}

.files-list {
    margin-top: 1.5rem;
    display: contents;

    .single-file {
        position: relative;
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        border: dashed 1px #979797;
        margin-bottom: 0.5rem;
        flex-direction: column;

        .file-icon {
            width: 150px;
            height: 150px;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }
        }

        .delete {
            background: #00000098;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .name {
            font-size: 14px;
            font-weight: 500;
            color: #353f4a;
            margin: 0;
        }

        .size {
            font-size: 12px;
            font-weight: 500;
            color: #a4a4a4;
            margin: 0;
            margin-bottom: 0.25rem;
        }

        .info {
            width: 100%;
        }
    }
}

.no-results {
    text-align: center !important;
}

.active-inactive-tx {
    font-size: 12px;
}

.font-style {
    font-weight: bold !important;
}