@import './../../assets/scss/plugins/my-tables.scss';


.example-section {
    height: unset;
}

.capitalize {
    text-transform: capitalize !important;
}

.input-capitalized-textfield {
    text-transform: none;
}

.psl-6 {
    padding-left: 2rem !important;
}

.Invoicepreview {
    ::ng-deep .mdc-text-field--outlined {
        // c
    }

    ::ng-deep .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
        line-height: normal;
        pointer-events: all;
        padding-bottom: 16px;
    }

    // ::ng-deep .mdc-notched-outline {
    //     height: 38px !important;
    // }

    ::ng-deep .mat-mdc-text-field-wrapper {

        margin-top: 10px !important;
        height: 40px !important;
    }

    ::ng-deep .example-full-width {
        height: 30px !important;
        margin-top: -14px !important;
    }

    // ::ng-deep.mat-mdc-text-field-wrapper {
    //     margin-top: 14px;
    // }

    ::ng-deep .mat-mdc-select-arrow svg {
        top: -36%;
    }

    ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding-top: 8px;
    }
}