<div class="row">
    <div class="col-md-12">
        <div class="screen-title-section cust-h1-inline">
        </div>
    </div>
</div>
<div class="wrapper-cust-admin">
    <div class="changepassword-page">
        <div class="changepassword-page__content-block">
            <mat-card class="helppage-card">
                <form [formGroup]="change_password_form" (ngSubmit)="changePasswordPress()">

                    <mat-form-field class="form_input_cust" appearance="outline">
                        <mat-label>{{'ChangePassword-Old-Password' | translate}}</mat-label>
                        <input matInput placeholder="{{'ChangePassword-Old-Password' | translate}}"
                            class="dark-cust-color" [type]="hideOld ? 'password' : 'text'" type="password"
                            formControlName="oldpassword" required>
                        <mat-icon matprefix class="placeholder" (click)="eyeButtonForOldPassword()">
                            {{hideOld ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>

                    <mat-form-field class="form_input_cust" appearance="outline">
                        <mat-label>{{'ChangePassword-New-Password' | translate}}</mat-label>
                        <input matInput placeholder="{{'ChangePassword-New-Password' | translate}}"
                            class="dark-cust-color" [type]="hideNew ? 'password' : 'text'" type="password"
                            formControlName="password" required>
                        <mat-icon matprefix class="placeholder" (click)="eyeButtonForNewPassword()">
                            {{hideNew ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>

                    <mat-form-field class="form_input_cust" appearance="outline">
                        <mat-label>{{'ChangePassword-Confirm-Password' | translate}}</mat-label>
                        <input matInput placeholder="{{'ChangePassword-Confirm-Password' | translate}}"
                            class="dark-cust-color" [type]="hideConfirm ? 'password' : 'text'" type="password"
                            formControlName="password_confirmation" required>
                        <mat-icon matprefix class="placeholder" (click)="eyeButtonForConfirmPassword()">
                            {{hideConfirm ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>
                    <div class="form-actions">
                        <button class="form-actions__login" mat-raised-button color="primary"
                            type="submit">{{'ChangePassword-Reset-Button' | translate}}</button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>