.mat-tab-label-content {
    .my-tab-color {
        &.my-tab-color-green {
            background-color: #ff0000;
            color: white;
        }
    }
}
::ng-deep .mat-tab-list {
    background-color: #023E8A !important;
    height: 35px;
}

::ng-deep .mat-tab-label {
    opacity: unset !important;
}

.height-set{
    height: 87px;
}

::ng-deep .mat-mdc-tab-body-content {
overflow: hidden !important;
}

@media only screen and (max-width: 1600px) and (min-width: 1200px) {
    .test {
         width: 33.33%;
    }
}
@media only screen and (max-width: 1280px) and (min-width: 700px) {
    .test {
         width: 50%;
    }
}
