@import 'src/app/styles/variables';

.invoice-data {
    width: 100%;
    // box-shadow: 0 0 8px 8px #f3f2f2;
    border-radius: 10px;
    background-color: white;

    .title {
        font-weight: 700;
    }
}

.invoice-card {
    color: white;
    background-color: #023E8A;
    height: 40px;
    margin-right: unset;
    margin-left: unset;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

}

.pdf-viewer {
    height: 630px;
    overflow-y: scroll;
}

.pdf-header {
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    text-align: right
}

.History-text {
    text-align: center;
    padding: 8px;

}



.notes {
    color: white;
    background-color: #023E8A;
    height: 40px;
    // margin-right: unset;
    // margin-left: unset;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.history-viwe {
    height: 95%;
    // margin-right: unset;
    // margin-left: unset;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.mat-expansion-panel {
    border-radius: 5px;
}

::ng-deep .mat-expansion-panel-header {
    // background-color: red !important;
    height: 40px !important;
    background-color: #023E8A !important;
    color: white;

}

::ng-deep .mat-expansion-indicator::after {
    color: white;
    height: 11px;
    width: 11px;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
}

.card-body {
    padding: 0.75rem .75rem;
}

.container {
    padding: 2px 16px;

}

.empty-document {
    height: 630px;
    margin-top: 35%;
    margin-bottom: -35%;
}

// Add dilog
.container-cust {
    width: 50%;
    // height: 100px;
    padding: 1rem;
    // background-color: $blue;
    text-align: center;
    border: dotted 2px black;

    position: relative;
    margin: 0 auto;
    border-radius: 5px;

    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    label {
        color: $blue;
        // width: 100px;
        height: 25px;
        border-radius: 21.5px;
        //background-color: $blue;
        text-align: center;
        padding: 3px !important;
    }

    h3 {
        font-size: 14px;
        font-weight: 500;
        color: #38424c;
        margin-bottom: 0px;
    }
}

.particiepants-box {
    height: 45px;
    background-color: rgb(255, 254, 254);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4)
}

// invoice-nots
.mat-form-field {

    width: 95%;
}

.example-full-width {
    width: 100%;
}

.crl {
    border-radius: 100%;
    background-color: rgb(250, 250, 250);
    height: 35px;
    width: 35px;
    margin-top: 6px;
    margin-left: 6px;
}

.note-card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    // margin-bottom: 10px;
    color: black;
    border-radius: 10px;
    // margin-left: 30px;
    // margin-top: 5px;
    // justify-content: center;
    padding: 10px;

    .details {
        width: 100%;

        .user-info {
            font-weight: 500;
            font-size: 11.5px;
            margin-bottom: 2px;
        }

        .note {
            color: black;
            font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
        }

        .dark-note {
            color: white;
        }
    }
}

.button_dark {
    // background-color: #424242 !important;
    background-color: #30343d !important;
}

.button_light {
    background-color: #023e8af7;
}

.text-cust-notes-dark {
    background-color: #30343d;
    color: white !important;
}

.update-date {
    font-size: 10px;
    float: inline-end
}

.note-text {
    justify-content: center;
    padding: 15px;
}

//  ATTCHMENT CSS
@import 'src/app/styles/colors';

.container-cust {
    width: 30%;
    height: 50px;
    padding: 1rem;
    background-color: $blue;
    text-align: center;
    border: solid 0px #979797;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;

    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    label {
        color: white;
        // width: 100px;
        height: 25px;
        border-radius: 21.5px;
        //background-color: $blue;
        text-align: center;
        // padding: 3px !important;
    }

    h3 {
        font-size: 14px;
        font-weight: 500;
        color: #38424c;
        margin-bottom: 0px;
    }
}


.fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.main-one-input-field {
    width: 100%;
}

.cust-map {
    height: 100%;
    width: 100%;
}

.geocoder-container {
    margin-bottom: 11px;
}

.cust-margin {
    margin: auto 0;
}

.center-cust {
    text-align: center;
}

.fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.files-list-attachments {

    .single-file {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none 1px #979797;
        flex-direction: column;

        .file-icon {
            width: 100px;
            height: 100px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .select-file-icon {
            width: 100px;
            height: 100px;
            border-style: solid;
            border-width: 2px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .delete {
            background: #00000098;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .name {
            font-size: 14px;
            font-weight: 500;
            color: #353f4a;
            margin: 0;
        }

        .size {
            font-size: 12px;
            font-weight: 500;
            color: #a4a4a4;
            margin: 0;
            margin-bottom: 0.25rem;
        }

        .info {
            width: 100%
        }
    }

}

/* Shake animation */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.display-cust {
    display: inline-flex;
}

.fileInputProfileWrap {
    width: 100%;
    height: auto;
}

.fileInputProfile {
    position: absolute;
    z-index: 99;
    opacity: 0;
}

.fileInputProfile[disabled]+.img-space {
    pointer-events: none;
    cursor: not-allowed !important;
}

.vl {
    border-left: ridge;
    border-width: 2px;
    height: 100%;
}

.card-text-centre {
    font-size: 1.1em !important;
    font-weight: 500;
    padding: 0.5em;
    text-align: center;
}

.card-text {
    font-size: 1.1em !important;
    padding-top: 0.5em;
    text-align: center;
}

.file-info-div {
    margin-top: 15px;
}

.img-width {
    width: 300px;
    height: 300px;
    display: initial;
    object-fit: cover;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.image-list-padding {
    margin: 1em;
}

.image-align {
    text-align: center;
}

.file-info-text-display {
    display: flex;
}

.search-results {
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.modal-body {
    min-height: 75%;
}

.containers-cust {
    width: 50%;
    padding: 1rem;
    text-align: center;
    border: dotted 2px black;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;

    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    label {
        color: $blue;
        // width: 100px;
        height: 25px;
        border-radius: 21.5px;
        //background-color: $blue;
        text-align: center;
        padding: 3px !important;
    }

    h3 {
        font-size: 14px;
        font-weight: 500;
        color: #38424c;
        margin-bottom: 0px;
    }
}

::ng-deep .s2-confirm {
    width: 130px !important;
}

::ng-deep .btn-gray {
    background-color: grey !important;
    color: white !important;
}