::ng-deep .mat-mdc-table .mdc-data-table__row {
    height: 35px !important;
}

::ng-deep .mat-mdc-table .mdc-data-table__header-row {
    height: 35px !important;
}

::ng-deep .mat-header-row {
    min-height: 0px !important;
}

::ng-deep .mdc-data-table__cell {
    font-size: var(--mdc-typography-body2-font-size, 12px);
}

::ng-deep .mdc-data-table__cell,
.mdc-data-table__header-cell {
    border: 1px solid #f8f8f8 !important;
    // padding: 0 16px 0 10px !important;
}

::ng-deep .table {
    // border: 1px solid aquamarine !important;
    padding: unset !important;

}

.tbl-col-width-per-selected {
    min-width: 50px !important;
    max-width: 4% !important;
}

.tbl-col-width-per-action {
    min-width: 100px !important;
    max-width: 7% !important;

}

.tbl-col-width-per-mid {
    min-width: 120px !important;
    max-width: 9% !important;
}