<section class="content">
    <div class="content-block">
        <div class="m-4"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="materialTableHeader">
                    <div class="left">
                        <ul class="header-buttons-left ms-0">
                            <li class="tbl-title">
                                <h2 class="title-h">Unknown Document</h2>
                            </li>
                        </ul>
                    </div>
                    <div class="right ">
                        <ul class="tbl-export-btn">
                            <li class="tbl-header-btn dropdown_documenttype">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>
                                        {{'INVOICE.INVOICE_DETAILS.INFORMATION.FORM.DOCUMENT_TYPE' | translate}}
                                    </mat-label>
                                    <mat-select (selectionChange)="onDocumentTypeSelect($event)">
                                        <mat-option *ngFor="let docType of documentList" [value]="docType.key">
                                            {{docType.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </li>
                            <li class="tbl-header-btn">
                                <div class="m-l-10" matTooltip="{{'COMMON.TOOL_TIP.BACK' |  translate}}">
                                    <button mat-mini-fab color="warn" (click)="back()">
                                        <mat-icon class="col-white">close </mat-icon>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row clearfix mt-2">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card pdf-h">
                            <div id="outerContainer">
                                <div class="pdf-container">
                                    <app-custompdfviewer [pdf_url]="pdf_url"></app-custompdfviewer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>