<div class="row">
    <div class="col-md-12">
        <div class="screen-title-section cust-h1-inline button-margin">
            <div class="inner-search-bar">
            </div>
            <button mat-stroked-button (click)="addPayrollGroup({})" mat-raised-button color="primary" mat-raised-button
                color="primary" class="sign-button cust-margin-div">
                <img src="{{addIcon}}" alt="" height="20px">

                {{'Setting-Employee-Add-Payroll' | translate }}
            </button>
        </div>
    </div>
</div>
<mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile *ngFor="let payroll of allPayrollGroup">
        <mat-card class="document-card">
            <mat-card-title-group class="cust-card-title-group">
                <mat-card-content style="width: 100%">{{payroll.payroll_group_name}}</mat-card-content>
                <!-- <div fxFlex style="width: 100%"></div>
                <div class="dropdown zIndex-cust">
                    <i class="fas fa-ellipsis-v cust-fontsize-tmp dropdown-float-right-cust" aria-hidden="true"></i>
                    <div class="dropdown-content-cust">
                        <a (click)="addPayrollGroup(payroll)" class="button_shiftEditClass">
                            <img src="{{editIcon}}" alt="" height="20px">
                            {{ 'All-Edit' | translate }}</a>
                        <a (click)="deletePayRollGroup(payroll)" class="button_shiftDeleteClass">
                            <img src="{{deleteIcon}}" alt="" height="20px">
                            {{ 'All-Delete' |  translate }}</a>
                    </div>
                </div> -->
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="addPayrollGroup(payroll)" class="button_shiftEditClass" mat-menu-item>
                        <span><img src="{{editIcon}}" alt="" height="15px">
                            {{'All-Edit' | translate}}</span>
                    </button>
                    <button (click)="deletePayRollGroup(payroll)" class="button_shiftDeleteClass" mat-menu-item>
                        <span><img src="{{deleteIcon}}" alt="" height="15px">
                            {{'All-Delete' | translate}}</span>
                    </button>
                </mat-menu>
            </mat-card-title-group>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>