.profile-header {
  min-height: 135px;
}

.material-icons-two-tone {
  float: right;
}

.editButton {
  position: absolute;
  padding-left: 10px;
  cursor: pointer;
}

.img-color {
  object-fit: contain;
  background-color: #fff;
}

.top-sell {
  cursor: pointer;
}

.company-card {
  height: 293px;
}