@import 'src/app/styles/variables';

.main-cust-setting-div {
    width: 100%;

    @media (max-width: $normal) {}

    @media (max-width: $small) {
        flex-wrap: wrap;
    }

    @media (max-width: $medium) {
        flex-wrap: wrap;
    }
}

.decorate-div {
    margin: auto;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    padding: 0px !important;
}