.capitalize {
    text-transform: capitalize !important;
}

.input-capitalized-textfield {
    text-transform: none;
}

.pointer {
    cursor: pointer;
}



.inner-image-cust:hover .middle {
    opacity: 1;
}

.fileInputProfile {
    display: none;
}

.logo-div {
    height: 150px;
    width: 300px;
    padding: 0 15px;
    line-height: 49px;
    padding-left: 15px;
    display: block;
    margin: auto;
    padding-bottom: 19px;
}

.flux-brand {
    width: 300px;
    padding: 0 15px;
    line-height: 49px;
    z-index: 1025;
    padding-left: 15px;
    display: block;
    margin: auto;
    padding-bottom: 19px;
}

.flux-brand-logo {
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
    padding: 5px;
    object-fit: contain;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    height: 110px;
    width: 100%;
}

.inner-image-cust {
    border: 2px gray solid;
    text-align: center;
    border-radius: 15px;
}

.inner-image-cust:hover {
    opacity: 0.3;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


@media only screen and (max-width: 990px) and (min-width: 200px) {
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
}

::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px !important;
}

::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 32px !important;
}

::ng-deep .mat-mdc-form-field-flex {
    height: 40px !important;
}

::ng-deep .mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
    height: 40px !important;
}

::ng-deep .form-new[_ngcontent-ywe-c269] .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    height: 40px !important;

}

::ng-deep.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-floating-label {
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 40px !important;
    font-size: 14px !important;
}

::ng-deep .mdc-text-field--outline .mdc-floating-label {
    left: 10px !important;
}


// new new new 


::ng-deep .mat-form-field:not(.mat-form-field-has-label) .mat-form-field-infix {
    border-top-width: 0;
}

::ng-deep .mb-2 {
    margin-bottom: 0.0rem !important;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 9px !important;

}

::ng-deep .mat-mdc-form-field-infix {
    min-height: unset !important;
}

::ng-deep .mat-mdc-select {
    font-size: 12px !important;
}


// }

.form-old {
    ::ng-deep .mat-mdc-text-field-wrapper {
        height: auto !important;
    }

    ::ng-deep .mat-mdc-form-field-flex {
        height: auto !important;
    }

    ::ng-deep .mdc-text-field--outlined .mdc-notched-outline {
        height: 80px !important;
    }

    ::ng-deep .mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
        height: auto !important;
    }

    ::ng-deep .form-new[_ngcontent-ywe-c269] .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
        height: auto !important;

    }

    ::ng-deep.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-floating-label {
        transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
        height: auto !important;
        font-size: 14px !important;
    }

    ::ng-deep textarea {
        resize: none !important;
    }
}