<div class="row">
    <div class="col-md-12">
        <div align="end" style="text-align: right;">

            <!-- document button -->
            <button *ngIf="isDocumentEdit && documentDeletValue == 0 && role_permission.documents.Edit"
                mat-raised-button (click)="goToDocumentEdit()" class="cust-button-form"><img src="{{editIcon}}" alt=""
                    class="" height="15px" style=" padding-right: 4px;">{{'Listing_Action_Edit' |
                translate}}</button>
            <button *ngIf="isDocumentDelete && documentDeletValue == 0 && role_permission.documents.Delete"
                mat-raised-button (click)="deleteDocument()" class="cust-button-form"><img src="{{archivedIcon}}" alt=""
                    class="" height="15px" style=" padding-right: 4px;">{{'Archive_all' |
                translate}}</button>
            <button *ngIf="isDocumentDelete && documentDeletValue == 1 && role_permission.documents.Delete"
                mat-raised-button (click)="deleteDocument()" class="cust-button-form"><img src="{{restoreIcon}}" alt=""
                    class="" height="15px" style=" padding-right: 4px;">{{'Restore_all' |
                translate}}</button>


            <!-- document button end-->
            <button *ngIf="isrefresh" class="import-export-btn-datatable button_workersDeleteClass cust-margin-div"
                (click)="refresh()">
                <i style="font-size: large;" class="fas fa-redo-alt"></i>
            </button>
            <button *ngIf="isCertificateStatusPending" mat-raised-button (click)="changeCertificateStatus('Accept')"
                class="cust-button-form"><img src="{{approveIcon}}" alt="" class="" height="20px"
                    style="padding-right: 4px;">{{'All_Accept' |
                translate}}</button>
            <button *ngIf="isCertificateStatusPending" mat-raised-button (click)="changeCertificateStatus('Reject')"
                class="cust-button-form"><img src="{{denyIcon}}" alt="" class="" height="20px"
                    style=" padding-right: 4px;">{{'All_Reject' | translate}}</button>
            <button *ngIf="isspoStatusapprovepending" mat-raised-button (click)="poApprove()"
                class="cust-button-form"><img src="{{approveIcon}}" alt="" class="" height="20px"
                    style="padding-right: 4px;">{{'PO-View-Approve' |
                translate}}</button>
            <button *ngIf="isspoStatusapprovepending" mat-raised-button (click)="poDenied()"
                class="cust-button-form"><img src="{{denyIcon}}" alt="" class="" height="20px"
                    style=" padding-right: 4px;">{{'PO-View-Denied' | translate}}</button>

            <button mat-raised-button (click)="download()" class="cust-button-form"><img src="{{downloadIcon}}" alt=""
                    class="" height="20px" style=" padding-right: 4px;">{{'PO-View-Download' |
                translate}}</button>
            <button mat-raised-button (click)="print()" class="cust-button-form"><img src="{{printIcon}}" alt=""
                    class="" height="15px" style=" padding-right: 4px;">{{'PO-View-Print' |
                translate}}</button>


            <button mat-raised-button (click)="back()" class="cust-button-form" style="margin-right: 10px;"><img
                    src="{{backIcon}}" alt="" class="" height="15px" style=" padding-right: 4px;">{{'All-back' |
                translate}}</button>
        </div>
    </div>
</div>
<div class="wrapper-cust-admin">
    <pdf-viewer id="pdf" [src]="pdf_url" [rotation]="0" [original-size]="false" [show-all]="true" [fit-to-page]="false"
        [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
        [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false" [external-link-target]="'blank'"
        style="display: block;"></pdf-viewer>
</div>
