<div class="addContainer">
    <app-model-header [title]="title" (dialogClose)="dialogRef.close()"></app-model-header>
    <div mat-dialog-content>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card-body">
                <div>

                    <div class="custom-form">
                        <form class="validate-form mt-3" [formGroup]="form">
                            <div class="row">
                                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>User</mat-label>
                                        <mat-select formControlName="users" #userSelect>
                                            <mat-select-filter [placeholder]="'Filter'" [displayMember]="'userfullname'"
                                                [array]="variablesUserList" (filteredReturn)="userList =$event"
                                                *ngIf="userSelect.focused">
                                            </mat-select-filter>
                                            <mat-option *ngFor="let user of userList" [value]="user._id">
                                                <span><img class="img-b" [src]="user.userpicture" height="35px"
                                                        width="35px" alt="">
                                                </span>
                                                {{user.userfullname}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row textarea-max form-old">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width font-white-placeholder"
                                        appearance="outline">
                                        <mat-label>Message</mat-label>
                                        <textarea matInput appTextareaAutoresizeproject
                                            class="input-capitalized-textArea" formControlName="message"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="container-auth-form-btn">
                                <div style="text-align:center; ">
                                    <button mat-raised-button color="primary" (click)="sendMessage()"
                                        class="auth-form-btn" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>