::ng-deep .mat-tab-list {
     background-color: #023E8A !important;
     height: 35px;
}

::ng-deep .mat-tab-label {
     opacity: unset !important;
}


::ng-deep .mat-tab-header .mat-tab-label-active {
     color: rgb(255, 255, 255) !important;
     background-color: green !important;
     border: 2px;
     border-color: azure;
}


::ng-deep .mat-tab-label-content {
     color: white !important;
     padding-bottom: 9px !important;

}