.report {
    .title {
        // background-color: #D9E8FF;
        border-radius: 4px;
    }

    .description {
        // background-color: #D9E8FF;
        border-radius: 4px;
    }

    .dark-title {
        background-color: #040608 !important;
    }

    .dark-description {
        background-color: #040608 !important;
    }

    .button {
        width: 100%;
    }
}

.dark {
    background-color: #040608 !important;
}