@import 'src/app/styles/variables';

.main-cust-setting-div {
    width: 100%;

    @media (max-width: $normal) {}

    @media (max-width: $small) {
        flex-wrap: wrap;
    }

    @media (max-width: $medium) {
        flex-wrap: wrap;
    }
}

.main-one-input-field {
    width: 100%;
}

.flux-brand {
    width: 300px;
    padding: 0 15px;
    line-height: 49px;
    z-index: 1025;
    padding-left: 15px;
    display: block;
    margin: auto;
    padding-bottom: 19px;
}

.flux-brand-logo {
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
    padding: 5px;
    object-fit: contain;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    height: 110px;
    width: 100%;
}

.inner-image-cust {
    border: 2px gray solid;
    text-align: center;
    border-radius: 15px;
}

.inner-image-cust:hover {
    opacity: 0.3;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.inner-image-cust:hover .middle {
    opacity: 1;
}

.fileInputProfile {
    display: none;
}

.logo-div {
    height: 150px;
    width: 300px;
    padding: 0 15px;
    line-height: 49px;
    padding-left: 15px;
    display: block;
    margin: auto;
    padding-bottom: 19px;
}