.auth-form-section {
    background-color: white;
    opacity: 0.7;
}

.auth-main {
    background-size: cover;
    height: 100%;
    width: 100%;
}

.welcome-msg {
    color: black !important;
}

.cust-center {
    text-align: center;
}