<!-- invoice-Notes -->
<mat-nav-list>
     <!-- [expanded]="invoice_notes" -->
     <mat-expansion-panel [hideToggle]="hideToggle" [disabled]="disabled">
          <mat-expansion-panel-header class="hover">
               <h4 class="mt-3">{{ "Project-Timecard-Notes" |
                           translate }}</h4>
          </mat-expansion-panel-header>
          <div class="task-data  m-3">
               <div class="d-flex justify-content-end">
                    <button *ngIf="role_permission.invoice.Edit" mat-raised-button color="primary" (click)="addNotes()"
                         class="sign-button "><img src="{{add_my_self_icon}}" alt="" height="20px">
                         {{'Project-Timecard-Notes' | translate }}
                    </button>
               </div>
               <div class="d-flex no-gutters" *ngFor="let note of notesList">
                    <div class="col">
                         <div class="note-card mt-2"
                              [ngClass]="mode == 'on'? 'text-cust-notes-dark' : 'text-cust-notes'">
                              <div class="d-flex justify-content-start">
                                   <img class="crl example-card-img-responsive mr-2"
                                        src="{{note.userpicture || defalut_image}}" />
                                   <div class="details">
                                        <div class="d-flex justify-content-between user-info">
                                             <span>{{note.userfullname}}</span>
                                             <span>{{temp_MMDDYYY_format(note.updated_at)}}</span>
                                        </div>
                                        <pre class="note" [ngClass]="mode == 'on'? 'dark-note' : ''">{{note.notes}}
                                        </pre>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="cust-margin mx-1 pt-2">
                         <a *ngIf="role_permission.invoice.Edit" mat-icon-button
                              aria-label="Example icon button with a vertical three dot icon"
                              (click)="deleteNote(note._id)">
                              <mat-icon>delete</mat-icon>
                         </a>
                    </div>

               </div>
               <div *ngIf="show_Nots">
                    <div class="">
                         <form class="form text-center p-2" [formGroup]="invoiceNoteform">
                              <mat-form-field appearance="outline" class="main-one-input-field">
                                   <mat-label>{{'Project-Timecard-Notes' | translate }}</mat-label>
                                   <textarea matInput appTextareaAutoresizeproject class="input-capitalized-textArea"
                                        formControlName="notes"
                                        placeholder="{{'Project-Timecard-Notes' | translate }}"></textarea>
                              </mat-form-field>
                         </form>
                    </div>
                    <div class="text-center mb-2">
                         <button *ngIf="role_permission.invoice.Edit" mat-raised-button (click)="saveNotes()"
                              color="primary" class="cust-button-form"><img src="{{saveIcon}}" alt="" class="pr-1"
                                   height="15px">{{'All-save' |
                                   translate}}</button>
                    </div>
               </div>
          </div>

     </mat-expansion-panel>

</mat-nav-list>
<!-- Attchments -->
<mat-nav-list>
     <!-- [expanded]="Attchments" -->
     <mat-expansion-panel [hideToggle]="hideToggle" [disabled]="disabled">
          <mat-expansion-panel-header class="hover">
               <h4 class="mt-3">{{ "All-Attachment" | translate }}</h4>
          </mat-expansion-panel-header>
          <div class="row d-flex justify-content-end mt-1">

               <div *ngIf="role_permission.invoice.Edit" class="container-cust"
                    [ngClass]="mode == 'on'? 'button_dark' : 'button_light'" appDnd
                    (fileDropped)="onFileDropped($event)">
                    <input type="file" #fileDropRef id="fileDropRef" multiple
                         (change)="fileBrowseHandler($event.target.files)" />
                    <label for="fileDropRef"><img src="{{add_my_self_icon}}" alt="" height="20px">
                         {{'All-Attachment' | translate}}</label>
               </div>
          </div>

          <div class="row cust-margin">
               <div class="files-list">
                    <div class="single-file" *ngFor="let file of files; let i = index">
                         <div class="file-icon">
                              <img [src]="thumbImage(file)" alt="">
                         </div>
                         <div class="info" alignment="center">
                              <h4 class="name">
                                   {{ file?.name }}
                              </h4>
                         </div>

                         <div class="delete" (click)="deleteFile(i)">
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
                                   <path fill="#B1B1B1" fill-rule="nonzero"
                                        d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
                              </svg>
                         </div>
                    </div>
               </div>
          </div>
          <div class="row cust-margin">
               <div class="files-list">

                    <div class="single-file" *ngFor="let file of files_old; let i = index">
                         <div class="file-icon" (click)="imageNetworkPreview(files_old, i)">
                              <img [src]="thumbNetworkImage(i)" alt="">
                         </div>
                         <div class="info" alignment="center">
                              <h4 class="name">
                                   {{ file.split('/').pop() }}
                              </h4>
                         </div>

                         <div class="delete" *ngIf="role_permission.invoice.Delete" (click)="deleteFile_old(i)">
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
                                   <path fill="#B1B1B1" fill-rule="nonzero"
                                        d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
                              </svg>
                         </div>
                    </div>
               </div>
          </div>
          <div class="text-center mb-2" *ngIf="files.length">
               <button *ngIf="role_permission.invoice.Edit" mat-raised-button (click)="saveAttchment()" color="primary"
                    class="cust-button-form"><img src="{{saveIcon}}" alt="" class="pr-1" height="15px">{{'All-save' |
                           translate}}</button>
          </div>

     </mat-expansion-panel>
</mat-nav-list>
