@import 'src/app/styles/variables';

.one-div-cust-user {
    width: 100%;
    margin-right: 5px;
    padding: auto;
    border-radius: 6px;
    margin-bottom: 1%;
    flex-direction: column;
    justify-content: space-between;


    // border-bottom: 3px #fff solid;

    @media (max-width: $normal) {
        width: 50%;
    }

    @media (max-width: $small) {
        width: 100%;
    }
}

.header-text-cust {
    width: 300px;
    background-color: #fff;
    text-align: center !important;
    min-height: 40px;
    border-radius: 6px;
    padding: 1em 1em;
    font-size: 1.2em !important;
    font-weight: 500 !important;
}

.statastic-card-title {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
}

.statastic-card {
    display: flex;
    justify-content: space-between;
    max-height: 70px;
    margin-left: 10px;
    margin-right: 40px;
}

.number {
    background-color: #06479D;
    border-radius: 5px;
    color: #fff;
    height: 40px;
    width: 40px;
    text-align: center;
    margin: 0;
    font-size: 15px;

}

.d-flex {
    float: right;
    margin-right: 47px;
}

.inner-search-bar {
    width: 90%;
}

.cust-width {
    width: 100%;
}

.cust-padding {
    padding-bottom: 50px;
}

.b-hight {
    height: 35px;
    margin-top: 18px;
}

.table-responsive {
    overflow-x: unset !important;
    margin-bottom: 50PX !important;
}